<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098337969858-eg8h539t3bar1j5dgkor03vm3dimj2qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098337969858-eg8h539t3bar1j5dgkor03vm3dimj2qa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1098337969858-1t26al2igsburq8u78rddmflarmcb0t3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDr0BlemN8K61BwY7QguksNkBQQXbH-3cw</string>
	<key>GCM_SENDER_ID</key>
	<string>1098337969858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bunbeuaty.papakarlo</string>
	<key>PROJECT_ID</key>
	<string>fooddelivery-ce2ef</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddelivery-ce2ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098337969858:ios:c33cdaa26c84eb2997bd5b</string>
	<key>DATABASE_URL</key>
	<string>https://fooddelivery-ce2ef-default-rtdb.firebaseio.com</string>
</dict>
</plist>