<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>djan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>emoji copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>emoji.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>estpoest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>gustoPub.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>legenda.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>papakarlo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>tandirhouse.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>usadba.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>vkuskavkaza.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>yuliar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0219B78D2B8FB97C00305E2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>025BF7752CAB354D00DF0946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>025F42D22CD0159400C854AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>025F77F32CD14C3400C87D99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>026BF2652DB7F4B700BBD91E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>026C1F502A2690B900838266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>027CB0132A346F7B00350EB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02891F6D2BDAEA0D0043B466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02ADC33529D9D0880062A141</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7555FF7A242A565900829871</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
