name: Publish workflow ios

on:
  push:
    branches:
      - feature/ios-cd

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: "Download google-services.json"
        uses: actions/download-artifact@v4
        with:
          name: google-services
          path: ./app

      - name: "Download local.properties"
        uses: actions/download-artifact@v4
        with:
          name: local-properties
          path: .

      - name: "Download keystore"
        uses: actions/download-artifact@v4
        with:
          name: keystore
          path: ./app

      - name: "Download google-play-api-key.json"
        uses: actions/download-artifact@v4
        with:
          name: google-play-api-key
          path: ./app

      - name: Install CocoaPods
        run: sudo gem install cocoapods

      - name: Generate KMP dummy framework
        working-directory: .
        run: ./gradlew :shared:generateDummyFramework

      - name: Install Pods
        working-directory: iosApp
        run: pod install --repo-update

      - name: Install fastlane
        run: gem install fastlane

      - name: Decode App Store Connect API key
        working-directory: iosApp
        run: |
          mkdir -p fastlane/keys
          echo "${{ secrets.APP_STORE_P8_BASE64 }}" | base64 --decode > fastlane/keys/AuthKey.p8
          chmod 600 fastlane/keys/AuthKey.p8

      - name: Deploy all apps to TestFlight
        working-directory: iosApp
        env:
          APP_STORE_KEY_ID: ${{ secrets.APP_STORE_KEY_ID }}
          APP_STORE_ISSUER_ID: ${{ secrets.APP_STORE_ISSUER_ID }}
          APP_STORE_P8_PATH: fastlane/keys/AuthKey.p8
        run: fastlane ios deployAll
